<div id="gist_embed_<%= gist.id %>"> 
  <div id="gist_content_<%= gist.id %>">
    <pre>
      <code>
        <%= gist.content %>
      </code>
    </pre>
  </div>
  
  <div id="canvas_img_<%= gist.visual.gist_id %>">
    <%= image_tag(gist.visual.url) %>
  </div>
</div>