<%= form_for(@gist) do |gist_f| %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
          <div class="row row-10-gutter">
            <div class="col-xs-3 col-3-gutter">
              <%= gist_f.text_field :name, class: "form-control", placeholder: "Name this project..." %>
            </div>
            <div class="col-xs-2 col-3-gutter">
              <div class="dropdown">
                <button href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  Language: Text <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Ruby</a></li>
                  <li><a href="#">Python</a></li>
                  <li><a href="#">JavaScript</a></li>
                  <li><a href="#">Scala</a></li>
                  <li><a href="#">C++</a></li>
                </ul>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="panel-body">

      <div id="gist_canvas">

        <div id="editor"></div>

        <%= gist_f.text_area :content, class: "front" %>

        <%= content_tag(:div, class: "form-group") do %>
          <%= gist_f.fields_for :visual_attributes do |visual_f| %>
            <canvas id='main-canvas' width="1108px"></canvas>
            <%= visual_f.hidden_field :url %>
          <% end %>
        <% end %>
      </div>

    </div>
    <div class="panel-footer">
      <a href="#" class="pull-right btn btn-default" id="switch_gist_canvas">
        <span class="glyphicon glyphicon-plus"></span> DRAW
      </a>

      <%= gist_f.submit "Save", class: "btn btn-default", id: "save" %>
    </div>
  </div>

<% end %>