<script>
  $(document).ready(function(){
    $('.panel-body').on('click', '#switch_gist_canvas', function(e){
      e.preventDefault();
      var gist   = $('#gist_content');
      var canvas = $('#main-canvas');

      if(gist.hasClass('front')){
        gist.removeClass('front');
        $('#switch_gist_canvas').html('<span class="glyphicon glyphicon-plus"></span> TEXT');
      } else {
        gist.addClass('front');
        $('#switch_gist_canvas').html('<span class="glyphicon glyphicon-plus"></span> DRAW');
      }

    });


    // $("textarea").keydown(function(e) {
    //     if(e.keyCode === 9) { // tab was pressed
    //         // get caret position/selection
    //         var start = this.selectionStart;
    //         var end = this.selectionEnd;

    //         var $this = $(this);
    //         var value = $this.val();

    //         // set textarea value to: text before caret + tab + text after caret
    //         $this.val(value.substring(0, start)
    //                     + "\t"
    //                     + value.substring(end));

    //         // put caret at right position again (add one for the tab)
    //         this.selectionStart = this.selectionEnd = start + 1;

    //         // prevent the focus lose
    //         e.preventDefault();
    //     }
    // });


  });
</script>

<!-- <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/default.min.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js"></script> -->

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
        <div class="dropdown">
          <button href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Language: Text <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Ruby</a></li>
            <li><a href="#">Python</a></li>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">Scala</a></li>
            <li><a href="#">C++</a></li>
          </ul>
        </div>
    </div>
  </div>
  <div class="panel-body">
    <%= form_for(@gist) do |gist_f| %>
      <div class="form-group">
        <% gist_f.label :name %>
        <%= gist_f.text_field :name, class: "form-control", placeholder: "Name this project..." %>
      </div>

      <div id="gist_canvas">
        <div class="form-group">
          <%= gist_f.text_area :content, class: "form-control front", size: "100%x10" %>
        </div>

        <div class="form-group">
          <%= gist_f.fields_for :visual_attributes do |visual_f| %>
            <canvas id='main-canvas' width="1108px"></canvas>
            <%= visual_f.hidden_field :url %>
          <% end %>
        </div>
      </div>

      <a href="#" class="pull-right btn btn-default" id="switch_gist_canvas">
        <span class="glyphicon glyphicon-plus"></span> DRAW
      </a>
      <%= gist_f.submit "Save", class: "btn btn-default" %>
    <% end %>
  </div>
</div>     