<div class="col-xs-12 col-sm-1 gist-new" id="canvas-tools">
  <div class="panel panel-default"> 

      <%= color_field_tag 'brush-color', '#000000', class: 'canvas-tool-tip', data: {toggle: 'tooltip', placement: 'top'}, title: 'Color' %>

      <br>

      <%= content_tag :span, class: 'radio-button selected canvas-tool-tip', data: {toggle: 'tooltip', placement: 'top'}, title: 'Pencil' do %>
        <%= label_tag 'tool_pencil' do %>
          <%= content_tag :i, '', class: 'fa fa-pencil' %>
        <% end %>
        <%= radio_button_tag :tool, :pencil, selected: true %>
      <% end %>
      
      <br>

      <%= content_tag :span, class: 'radio-button canvas-tool-tip', data: {toggle: 'tooltip', placement: 'top'}, title: 'Filled Square' do %>
        <%= label_tag 'tool_filled_box' do %>
          <%= content_tag :i, '', class: 'fa fa-square' %>
        <% end %>
        <%= radio_button_tag :tool, :filled_box %>
      <% end %>

      <br>

      <%= content_tag :span, class: 'radio-button canvas-tool-tip', data: {toggle: 'tooltip', placement: 'top'}, title: 'Outlined Square' do %>
        <%= label_tag 'tool_empty_box' do %>
          <%= content_tag :i, '', class: 'fa fa-square-o' %>
        <% end %>
        <%= radio_button_tag :tool, :empty_box %>
      <% end %>

      <br>

      <%= content_tag :span, class: 'radio-button canvas-tool-tip', data: {toggle: 'tooltip', placement: 'top'}, title: 'Line' do %>
        <%= label_tag 'tool_line' do %>
          <%= content_tag :i, '', class: 'fa fa-minus' %>
        <% end %>
        <%= radio_button_tag :tool, :line %>
      <% end %>

      <br>

      <%= content_tag :span, class: 'radio-button canvas-tool-tip', data: {toggle: 'tooltip', placement: 'top'}, title: 'Arrow' do %>
        <%= label_tag 'tool_arrow' do %>
          <%= content_tag :i, '', class: 'fa fa-long-arrow-left' %>
        <% end %>
        <%= radio_button_tag :tool, :arrow %>
      <% end %>

      <br>

      <%= content_tag :span, class: 'radio-button canvas-tool-tip', data: {toggle: 'tooltip', placement: 'top'}, title: 'Eraser' do %>
        <%= label_tag 'tool_eraser' do %>
          <%= content_tag :i, '', class: 'fa fa-eraser' %>
        <% end %>
        <%= radio_button_tag :tool, :eraser %>
      <% end %>

      <br>

      <%= content_tag :span, class: 'radio-button canvas-tool-tip', data: {toggle: 'tooltip', placement: 'top'}, title: 'Crop' do %>
        <%= label_tag 'tool_crop' do %>
          <%= content_tag :i, '', class: 'fa fa-crop' %>
        <% end %>
        <%= radio_button_tag :tool, :crop %>
      <% end %>

      <br>
      <br>
  

      <%= content_tag :span, class: 'jw-slider' do %>        
        <%= content_tag :div, nil, id: 'opacity-slider' %>
      <% end %>

      <%= content_tag :span, class: 'jw-slider' do %>        
        <%= content_tag :div, nil, id: 'brush-slider' %>
      <% end %>

   </div> 
</div>