<!DOCTYPE html>
<html>
<head>
  <title>Justwatch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>  
</head>
<body>
  
  <%= render 'shared/navbar/full' %>

  <div class="container">
    <%= render 'shared/flash' %>
    <%= yield %>
  </div>
  

</body>
</html>
