<!DOCTYPE html>
<html>
<head>
  <title>PrettyCode</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>  
  <%= favicon_link_tag '/assets/brush_icon.ico'%>
</head>
<body class='login-body'>
  
  <div class='devise-container'>
    <%= flash_messages %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </div>

</body>
</html>
